#boilerplate_crud_form_table {
    border: none;
}
#boilerplate_crud_form_table td {
    border: none;
    vertical-align: middle;
    padding: 5px 5px 9px 5px;
}
#boilerplate_crud_form_table td.right {
    text-align: right;
}
#boilerplate_crud_form_table label {
    float: none;
    text-align: inherit;
}

#boilerplate_crud_list_table {
    width: auto;
}
